.Project {
    display: flex;
    width: 100%;
    color: white;
    text-align: center;
}

.LeftProject {
    height: 300px;
    flex: 0 0 50%;
}

.RightProject {
    display: block;
    flex: 1;
    text-align: center;
}

.ImageProject {
    width: 400px;
}

.Title {
    font-size: 40px;
}

.Desc {
    font-size: 20px;
}