.Projects {
    height: 600px;
    background-color: #716060;
    padding: 50px;
}

.Select {
    text-align: center;
    position: relative;
    bottom: -50px;
}

.arrow {
    display: inline-block;
    padding: 3px;
    width: 50px;
}
  
.left {
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    padding-left: 100px;
}