.Header {
    background-color: #353535;
    color: white;
    height: 70px;
    display: flex;
}

.Left {
    flex: 0 0 50%;
    text-align: center;
    padding-top: 20px;
}

.Logo {
    position: relative;
    top: -88px;
}

.Right {
    margin-top: 25px;
    display: flex;
    flex: 1;
}

.Link {
    text-decoration: none;
    color: white;
}

.Link:visited{
    color: white;
}

.One {
    flex: 0 0 33%;
}

.Two {
    flex: 0 0 33%;
}

.Three {
    flex: 1;
}